@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model bool;

<div class="page-wrapper">
    @if (Model)
    {

        <div class="custom-modal">
            <div class="succes succes-animation icon-top">
                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="5 5 40 40"><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
            </div>
            <div class="succes border-bottom"></div>
            <div class="content">
                <p class="message-type">@_localizer["success"]</p>

                <a asp-action="Index" asp-controller="Home" class="btn" style="margin: 10px 0px;font-size: 16px;
    border-radius: 5px;
    padding: 10px 25px;
    border: none;
    font-weight: 500;
    background-color: rgb(151, 211, 97);
    color: white;
    cursor: pointer;">
                    @_localizer["NewOrder"]
                </a>
            </div>
        </div>
    }
    else
    {

        <div class="custom-modal">
            <div class="danger danger-animation icon-top"><i class="fa fa-times"></i></div>
            <div class="danger border-bottom"></div>
            <div class="content">
                <p class="message-type">@_localizer["error"] </p>
            </div>

        </div>
    }

</div>